<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <title>
                New Blog Form
            </title>
            </head>
        <body>
            New Blog Form
            <form action="/blog/edit_blog/{{blog.id}}" method="POST">
                Baslik: <input type="text" name="baslik" value="{{blog.baslik}}"/> </br>
                Icerik: <textarea name="icerik">{{blog.icerik}}</textarea> </br>
                <input type="submit" name="Submit" value="Submit" />
                <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}" />
            </form>
        </body>
    </html>